<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.groovy.chat.ChatMapper">
    <resultMap type="chatRoomVO" id="chatRoomVO">
        <result property="chttRoomNo" column="CHTT_ROOM_NO"/>
        <result property="chttRoomNm" column="CHTT_ROOM_NM"/>
        <result property="chttRoomTy" column="CHTT_ROOM_TY"/>
        <result property="chttRoomNmpr" column="CHTT_ROOM_NMPR"/>
        <result property="chttRoomCreatDe" column="CHTT_ROOM_CREAT_DE"/>
    </resultMap>

    <resultMap id="chatRoomList" type="chatRoomVO">
        <result property="chttRoomNo" column="CHTT_ROOM_NO"/>
        <result property="chttRoomNm" column="CHTT_ROOM_NM"/>
        <result property="latestChat" column="LATEST_CHTT_CN"/>
        <result property="latestInputDate" column="LATEST_INPUT_DATE"/>
        <result property="chatRoomThumbnail" column="CHTT_ROOM_THUMBNAIL"/>
    </resultMap>

    <insert id="insertChatRoom" parameterType="map">
        INSERT INTO CHTT_ROOM
        VALUES (
                CHTT_ROOM_SEQ.NEXTVAL,
                #{chttRoomNm},
                #{chttRoomTy},
                #{chttRoomNmpr},
                SYSDATE
               )
    </insert>

    <insert id="insertChatMember" parameterType="String">
        INSERT INTO CHTT_MBR
        VALUES (
                CHTT_ROOM_SEQ.CURRVAL,
                #{chttMbrEmplId}
               )
    </insert>

    <select id="loadChatRooms" parameterType="String" resultMap="chatRoomList">
        SELECT
            cr.CHTT_ROOM_NO,
            cr.CHTT_ROOM_NM,
            c.CHTT_CN AS LATEST_CHTT_CN,
            MAX(c.CHTT_INPUT_DATE) AS LATEST_INPUT_DATE,
            CASE
                WHEN cr.CHTT_ROOM_TY = 0 THEN (
                    SELECT UF.UPLOAD_FILE_STRE_NM
                    FROM EMPL E
                             JOIN PROFL P ON E.EMPL_ID = P.PROFL_EMPL_ID
                             JOIN UPLOAD_FILE UF ON P.PROFL_ETPR_CODE = UF.UPLOAD_FILE_ETPR_CODE
                    WHERE P.PROFL_EMPL_ID = (
                        SELECT CM.CHTT_MBR_EMPL_ID
                        FROM CHTT_MBR CM
                        WHERE CM.CHTT_ROOM_NO = cr.CHTT_ROOM_NO
                          AND CM.CHTT_MBR_EMPL_ID != #{chtt_mbr_empl_id}
                    )
                )
                ELSE 'ThumbnailForMultiChatRoom.png'
                END AS CHTT_ROOM_THUMBNAIL
        FROM CHTT_ROOM cr
                 INNER JOIN CHTT c ON cr.CHTT_ROOM_NO = c.CHTT_ROOM_NO
                 INNER JOIN CHTT_MBR cm ON cm.CHTT_ROOM_NO = cr.CHTT_ROOM_NO
        WHERE cm.CHTT_MBR_EMPL_ID = #{chtt_mbr_empl_id}
          AND c.CHTT_INPUT_DATE = (
            SELECT MAX(c2.CHTT_INPUT_DATE)
            FROM CHTT c2
            WHERE c2.CHTT_ROOM_NO = cr.CHTT_ROOM_NO
        )
        GROUP BY cr.CHTT_ROOM_NO, cr.CHTT_ROOM_NM, c.CHTT_CN, cr.CHTT_ROOM_TY
        ORDER BY LATEST_INPUT_DATE DESC
    </select>

</mapper>