<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.groovy.vehicle.VehicleMapper">
    <select id="getVehicles" resultType="vehicleVO">
        select * from VHCLE
    </select>
    <select id="getReservedVehicle" resultType="vehicleVO" parameterType="String">
        select *
        from VHCLE v
                 full outer join VHCLE_RESVE vr on v.VHCLE_NO = vr.VHCLE_NO
        where TRUNC(vr.VHCLE_RESVE_BEGIN_TIME) = TRUNC(sysdate)
          and v.VHCLE_NO = #{vhcleNo}
    </select>

</mapper>